table {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.875rem;
  text-align: left;
  border-spacing: 0;
}

thead {
  font-size: 1.125rem;
  background-color: var(--color-extralight-grey);
}

thead tr th {
  padding: 1.25rem;
  text-align: left;
}

thead tr th:last-of-type {
  text-align: right;
}

@media (min-width: 768px) { 
  thead tr th:last-of-type {
    text-align: left;
  }
}

tbody {
  margin: 1.25rem;
  font-size: 1rem;
}

tbody tr td {
  padding: 1rem 1.25rem;
  border-bottom: 1px solid var(--color-lightgrey);
  text-align: left;
}

tbody tr td:last-of-type {
  text-align: right;
}

@media (min-width: 768px) { 
  tbody tr td:last-of-type {
    text-align: left;
  }
}

td small {
  display: block;
}

.total-balance {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .total-balance {
    padding: 0 2.5rem;
    justify-content: space-between;
    flex-direction: row;
  }
}

.total-balance h4 {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .total-balance h4 {
    margin: 0.625rem 0;
  }
}

.total-balance p {
  text-align: right;
  font-size: 1.125rem;
  color: var(--color-purple);
  margin-bottom: 1.25rem;
}
